
body {
 	 background: url("background.gif");
 	 background-size: cover; 
}

h1{
	color: 	white;
	font-family: 'Galada';font-size: 70px;
	text-align: center;
	text-transform: capitalize
}

h2{
	color: 	white;
	font-family: 'Roboto Slab';font-size: 30px;
	text-align: center;
}

h3{
	color: 	white;
	font-family: 'Roboto Slab';font-size: 30px;
	text-align: left;
	padding-left: 20px;
}

p{
	color: 	white;
	font-family: 'Roboto Slab'; font-size: 26px;
	text-align: left;
}

li{
	
	color: 	white;
	font-family: 'Roboto Slab'; font-size: 26px;
	text-align: left;
}

 .divider{
 	padding: 20px;
  	background: #c89700;
 }

.header {
  	padding: 10px;
  	text-align: center;
  	background: #F2C641;
 	color: white;
}

 .row{
 	display: flex;
	background-color: navy;
	padding: 10px;
}

.bordered {
	background-color: navy;
	flex: 50%;
  	position: relative;
  	border: 3px solid #c89700;
  	padding: 30px 30px 30px 10px;
}

.bordered h3 {
	position: absolute;
	top: 0;
	font-family: "Galada";
	font-size: 30px;
	line-height: 1;
	margin: -9px 0 0;
	background: navy;
	padding: 0 10px;
}
